{% load wagtailimages_tags  cache %}
{% load menus_tags %}


{% get_menu "main-menu" as menu %}

{% image menu.menu_image fill-400x400 as img %}
{% cache 604800 side_nav  %}
<ul id="slide-out" class="sidenav">
    <li>
        <div class="user-view">
            <div class="background">
                <img src="{{ img.url }}" alt="">
            </div>
            <a href="#name"><span class="white-text name">{{ user.get_full_name }}</span></a>
            <a href="#email"><span class="white-text email">{{ user.email }}</span></a>
        </div>
    </li>
    {% include "nav_links.html" %}
</ul>
{% endcache %}
