div.image-holder {
    min-height: 50em;
}
div.caption {
    height: 50em;
}

.fullh {
    height: 100%;
}

div.user-view {
    min-height: 100px;
}

.darkb {
    background-color: rgba(0,0,0,0.85);
}
/*  GRADIENTS */
.gd-neva {
    background-image: linear-gradient(120deg, #a1c4fd 0%, #c2e9fb 100%);
}
.gd-morpheusden {
    background-image: linear-gradient(to top, #30cfd0 0%, #330867 100%);
}
.gd-deepblue {
    background-image: linear-gradient(to right, #6a11cb 0%, #2575fc 100%);
}
/* SPACING */
div.w-100  {
    width: 100%;
    margin: 0;
    padding-left: 5px;
    padding-right: 5px;
}

.my-1 {
    margin-bottom: 1em;
    margin-top: 1em;
}
.py-1 {
    padding-bottom: 1em;
    padding-top: 1em;
}


.fw {
    width: 100%;
}

.pagination li.active {
    background-color: #a1c4fd;
}
