<!--
learnwt/templates/home/home_page.html
--------------------------------------------------
This file defines the template used to render the initial homepage.
-->
{% extends 'navbar.html' %}

{% load wagtailcore_tags wagtailimages_tags cache %}

{% block content %}
    {% cache 604800 home_slider self.id %}
    <div class="slider ">
        <ul class="slides">
        {% for cimage in self.carousel_images.all %}
            {% image cimage.carousel_image fill-1200x800 as img %}
            <li class="">
                <img src="{{ img.url }}" alt="{{ img.alt }}"> <!-- random image -->
                <div class="caption {{ cimage.text_orient }}-align">
                    <h3 class="white-text ">{{ cimage.title }}</h3>
                    <h5 class="light white-text ">{{ cimage.subtitle }}</h5>
                </div>
            </li>
        {% endfor %}
        </ul>
    </div>
    {% endcache %}
    {% for block in page.content %}
        <div class="col s12">
            {% include_block block %}
        </div>
    {% endfor %}
{% endblock %}

{% block extra_js %}
    <script type="text/javascript">
        document.addEventListener("DOMContentLoaded", function (e) {
            M.AutoInit();
            var els = document.querySelectorAll('.slider');
            var insts = M.Slider.init(els, {
                indicators: false
            })
        })
    </script>
{% endblock %}

